*.class
.DS_Store
Servers/*
.metadata
.settings
.classpath
.project
target/
bin/
rebel.xml
.mvn*
mvnw*
node_modules/
dist
server/uploads/automatization-1553264183684.xlsx
server/uploads/automatization-1553264317798.xlsx
server/uploads/automatization-1553264424345.xlsx
server/uploads/automatization-1553264916634.xlsx
server/uploads/automatization-1553264989213.xlsx
server/uploads/automatization-1553265521040.xlsx
server/uploads/automatization-1553267026886.xlsx
server/uploads/automatization-1553267083493.xlsx
.scannerwork/